# Python
__pycache__/
*.py[cod]

# ignore ALL files in ANY directory named temp
temp/
# Ignore all files in logs/
logs/*

# Allow the logs/ directory itself
!logs/

# Ignore .log files
*.log

# Ignore all the json files in /database/reference_data/scraping_raw_json/tradingview/
FinanceDataScraper/database/reference_data/scraping_raw_json/tradingview/*

