# Python
__pycache__/
*.py[cod]


# Ignore all files in any directory named temp
temp/

# Ignore all files in logs/ but keep the directory itself
logs/*

# Ignore .log files globally
*.log


# Ignore .log files globally
*.log

# Ignore all JSON files in /database/reference_data/scraping_raw_json/tradingview/
scraper/database/reference_data/scraping_raw_json/tradingview/*
